* {
    box-sizing: border-box;
}

.nav-bar {
    text-align: center;
    padding: 2%;

}

.link1 {
    background-color: chartreuse;
    padding: 1%;
    margin: 1%;
    border-radius: 20%;
}

.link2 {

}

.link3 {

}

.circle img {
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 2.5%;
}

.sectiontwo {
    text-align: center;
    float: right;
    margin-right: 25%;
    margin-top: 5%;
}

.maintext {
    background-color: brown;
    padding: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    text-align: center;
}

.firelog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    
}

.truck img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.footer img {

}

.button1 {
    background-color: cadetblue;
    border-radius: 6%;
  }