* {
    box-sizing: border-box;
}


.nav-bar {
    text-align: center;
    padding: 3%;
    margin-bottom: 5%;

}

.link1 {
    background-color:#FF764E;
    padding: 1em;
    margin: 1em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    
}

.link2 {
    background-color: #5ED3EB;
    padding: 1em;
    margin: 5em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

.link3 {
    background-color:#FFCD69;
    padding: 1em;
    margin: 1em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

.link4 {
    background-color:#FF764E;
    padding: 1em;
    margin: 1em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

.link5 {
    background-color: #5ED3EB;
    padding: 1em;
    margin: 5em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

.link6 {
    background-color:#FFCD69;
    padding: 1em;
    margin: 1em;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}

.column {
    float:left;
    width: 50%;
    padding: 5px;
    height: 10rem;
}



.column img {
    margin-left: 60%;
    border-radius: 50%;
    margin-top: -6%;
    
}

h1 {
    font-size: 150%;
    font-family: 'Chelsea Market', cursive;

    }

    p {
        font-family: 'Roboto Mono', monospace;
    }



.maintext {
  
   background-color: #ddb9a3;
   margin-left: 10%;
   margin-right: 10%;
   font-family: 'Roboto Mono', monospace;
   color: white;
   text-align: center;
   font-size: 100%;
   margin-top: 6%;

}


.firelog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    
}

.firelog p {
    text-align: center;
}

.truck img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.truck p {
    text-align: center;
    margin-top: auto;
}

.footer img {
    max-height: 30vh; 
    margin-bottom: -1%;
}

.button1 {
    background-color: cadetblue;
    border-radius: 6%;
  }

  .nav-bar2 {
    text-align: center;
    padding: 3%;
  }

  .nav-bar2{
      background-color: #f9e7dc;
      
  }

  
  